:host {
	display: block;
	position: absolute;
	box-sizing: border-box;
	width: 170px;
	height: 100px;
	right: 12%;
	top: 20px;
}

#hero-wedding-1 {
	position: absolute;
	background: #fff;
	color: #4285f4;
	width: 200px;
	height: 74px;
}

#hero-wedding-1 {
	right: 90%;
}

#hero-wedding-2 {
	position: relative;
	top: 120px;
	right: 20%;
	width: 1000px;
	height: 400px;
	z-index: 1000;
}