:host {
    display: block;
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
}

.card-container {
    position: relative;
    display: inline-block;
    height: auto;
    width: 600px;
    cursor: default;
    align-content: center;
    margin-top: 5px;
}

.card {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    margin: 5px 5px 5px 5px;
}

core-animated-pages {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    flex: 1;
    box-sizing: border-box;
    display: block;
    overflow-y: auto;
    height: 100%;
}

.fab {
    position: absolute;
    fill: #fff;
}

.fab-0 {
    bottom: 75px;
    position: fixed;
    right: 24px;
    z-index: 2;
}

.fab-1 {
    top: 70px;
    right: 24px;
}

.top-image {
    height:300px;
    overflow:hidden;
    position:relative;
    background-size: cover;
    background-position: center center;
}

.top-image img{
    max-width: 400px;
    display: block;
    width:100%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    top:0;
    opacity:1;

}

.message{
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
  max-width: 400px;
  padding: 5px 5px 5px 5px;
}

.bottom {
    padding: 24px;
    font-size: 18px;
    color: #fff;
    position:fixed;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
    z-index: 1;
}

.bottom p{
    width: 70%;
    margin: 0;
}

.tall-toolbar {
    box-sizing: border-box;
    height: 100px;
    position: relative;
    color: #fff;
    padding: 15px;
    font-size: 18px;
}

.tall-toolbar p{
    width: 70%;
    margin: auto 0 auto 10px;
}

.tall-toolbar.categories {
    margin-bottom: 2px;
}


.middle {
    padding: 24px 48px;
    font-size: 24px;
    line-height: 1.5;
}

.footer {
    height: 20%;
}

.footer-right, .score {
    border-top: 1px solid #ccc;
    padding: 30px;
}

.tile {
    box-sizing: border-box;
    float: left;
    height: 200px;
    width: 49%;
    margin: 3px;
}

.tile-bottom {
    padding: 8px;
    color: #fff;
}

.image-circle {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    width: 4em;
    vertical-align:middle;
}

