:host {
	display: block;
	position: relative;
	box-sizing: border-box;
}

div.main-image {
}

div.main-image img {
	float: right;
	width: 80%;	
}

div.product-title {
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 300;
	line-height: 1.2em;
	padding-top: 30px;
	padding-bottom: 30px;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.01);
	color: #252a2f;
	text-align: center;
}

div.product-price {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.2em;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.01);
	text-align: center;
	padding-bottom: 15px;
}

.product-price-final {
	color: green;
}

.product-price-original {
	color: red;
	text-decoration: line-through;
}

div.product-info {
	padding-top: 10px;
	padding-left: 2px;
	padding-right: 2px;
}

div.images-block {
	padding-left: 2px;
	padding-right: 2px;
}

.list-inline {
	padding-left: 10px;
	margin-left: 0px;
	list-style: none;
	text-align: center;
}

.list-inline>li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}

.img-thumbnail {
	max-width: 80px;
	height: auto;
}

div.product-label {
	padding: 5px 15px;
	font-size: 16px;
	color: #2f353b;
	text-transform: uppercase;
	background: #fff;
	border-top: 1px solid #e8e8e8;
	border-right: 1px solid #e8e8e8;
	border-bottom: 4px solid #ffb400;
	border-left: 1px solid #e8e8e8;
	margin-bottom: 15px;
}

p.product-description {
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.0em;
	color: #a0a0a0;
}

div.product-options {
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.0em;
	color: #a0a0a0;
	text-align: center;
}

div.product-quantity {
	text-align: center;
	margin-bottom: 20px;
}

div.products-related {
	padding-top: 20px;
	padding-bottom: 50px;
	padding-left: 2px;
	padding-right: 2px;
	background: #f7f7ed;
}

p.related-label {
	font-size: 0.5em;
	text-transform: uppercase;
	padding-left: 10px;
	text-align: center;
}

paper-button {
	width: 100%;
	margin-bottom: 20px;
}

paper-button[raisedButton].colored {
	background: #4285f4;
	color: #fff;
}

paper-button[raisedButton].colored.hover:hover {
	background: #3367d6;
}

paper-button[raisedButton].colored::shadow #ripple {
	color: #2a56c6;
}

paper-button[raisedButton].colored::shadow #focusBg {
	background: #3367d6;
}

paper-fab.addtocart-button {
	margin-top: -30px;
	float: right;
}