.tall-toolbar {
	box-sizing: border-box;
	height: 100px;
	position: relative;
	color: #fff;
	padding: 15px;
	font-size: 18px;
}

div.title {
	text-transform: uppercase;
	font-size: 1.4em;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	color: #fff;
	text-align: center;
	margin-top: 20px;
}

div.addresses {
	position: absolute;
	text-transform: uppercase;
	font-size: 1.0em;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	color: #000;
	top: 20px;
	left: 10%;
}

div.shipping {
	position: absolute;
	text-transform: uppercase;
	font-size: 1.0em;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	color: #000;
	top: 20px;
	left: 60%;
}

div.payment {
	position: absolute;
	text-transform: uppercase;
	font-size: 1.0em;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
	color: #000;
	top: 20px;
	left: 30%;
}

.fab {
	position: absolute;
	fill: #fff;
}

.fab-previous {
	bottom: 75px;
	position: fixed;
	left: 24px;
	z-index: 2;
	display: inline;
}

.fab-next {
	bottom: 75px;
	position: fixed;
	right: 24px;
	z-index: 2;
	display: inline;
}

.bottom {
	padding: 24px;
	font-size: 18px;
	color: #fff;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
	z-index: 1;
}

.big {
	height: 64px;
	width: 64px;
}

div.login-box {
	position: relative;
	top: 50px;
	font-size: 18px;
	text-rendering: optimizeLegibility;
}

div.address-box {
	position: relative;
	left: 5%;
	font-size: 18px;
	text-rendering: optimizeLegibility;
	top: 50px;
	width: 90%;
}

paper-radio-button {
	display: block;
	color: #5c5c5c;
	position: relative;
}

paper-radio-group {
	position: relative;
	top: 50px;
}