:host {
    display: block;
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
}

	.card {
      position: relative;
      height: 250px;
      width: 250px;
      font-size: 50px;
      margin: 8px;
      background-color: #fafafa;
      border-radius: 4px;
      cursor: default;
    }

.view {
	background-color: white;
}

core-animated-pages {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    flex: 1;
    box-sizing: border-box;
    display: block;
    overflow-y: auto;
}

polyfill-next-selector { content: '#tabsContainer'; }
#tabsContainer ::content {
    color: blue;
}

#tabsContainer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    white-space: nowrap;
}

#selectionBar {
    position: absolute;
    height: 2px;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #000;
    transition: width, left;
}