:host {
    display: block;
    flex: 1;
    box-sizing: border-box;
    overflow-y: auto;
}

	.card {
      position: relative;
      height: 250px;
      width: 250px;
      font-size: 50px;
      margin: 8px;
      background-color: #fafafa;
      border-radius: 4px;
      cursor: default;
    }

.view {
	background-color: tomato;
}

core-animated-pages {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    flex: 1;
    box-sizing: border-box;
    display: block;
    overflow-y: auto;
}