:host {
	display: block;
	position: relative;
	box-sizing: border-box;
}

p {
	font-family: "proxima-nova",Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(255,255,255,0.01);
	text-align: left;
	padding-bottom: 5px;
}

p.title {
	font-family: "proxima-nova",Helvetica,Arial,sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(255,255,255,0.01);
	color: #333;
	text-align: left;
	overlay: invisible;
}

img {
	height: 240px;
	max-width: 240px;
	v-align: top;
}

paper-button {
	color: blue;
}