:host {
	display: block;
	position: relative;
	box-sizing: border-box;
}

p {
	font-size: 12px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(255,255,255,0.01);
}

p.title {
	font-size: 14px;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(255,255,255,0.01);
	color: #333;
	text-align: left;
	overlay: invisible;
}

div.caption {
	margin-left: 20px;
	margin-bottom: 40px;
	margin-top: 10px;
	padding-right: 50px;
	border-bottom: 1px solid #dcdcdc;
}
.desktop img {
	height: 240px;
	max-width: 240px;
	v-align: top;
}

.phone {
    width: 320px;
    height: 280px;
    overflow: hidden;

}

.phone img {
    width: 100%;
    margin-top: -50px;   
}

paper-button {
	color: blue;
}

.img-thumbnail{
    border: none;
}