:host {
	display: block;
	position: relative;
	box-sizing: border-box;
}

p {
	font-size: 12px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(255,255,255,0.01);
}

p.title {
	font-size: 14px;
	font-weight: 600;
	text-rendering: optimizeLegibility;
	text-shadow: 0 0 1px rgba(255,255,255,0.01);
	color: #333;
	text-align: left;
	overlay: invisible;
}

div.caption {
    height:130px;
}

div.caption.title{
    padding: 15px;
}

.desktop {
     height: 240px;
     max-width: 260px;
     v-align: top;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
 }

.desktop img {
    height: 100%;
}

.phone {
    width: 320px;
    height: 220px;
    overflow: hidden;
}

.phone img {
    width: 100%;
}

paper-button {
	color: blue;
}

.img-thumbnail{
    border: none;
}