div.container {
	margin-top: 100px;
	width: 280px;
}

.img-thumbnail {
	min-width: 60px;
	height: auto;
}

p.cart-title {
	font-size: 0.8em;
	text-transform: uppercase;
	padding-left: 10px;
	text-align: left;
	margin-left: 0px;
	margin-top: 20px;
	padding-bottom: 10px;
	color: #2f353b;
	border-bottom: 1px solid #dcdcdc;
}

p.cart-label {
	text-align: left;
}

p.cart-total {
	text-align: right;
}

div.product-description {
	font-size: 0.7em;
	text-transform: uppercase;
	text-align: left;
	padding-left: 0px;
	padding-top: 10px;
	vertical-align: middle;
	color: #2f353b;
}

div.cart-footer {
	font-size: 0.8em;
	text-transform: uppercase;
	padding-left: 10px;
	color: #2f353b;
	padding-top: 10px;
	margin-top: 10px;
	border-top: 1px solid #dcdcdc;
}

div.cart-shipping {
	font-size: 0.8em;
	text-transform: uppercase;
	padding-left: 10px;
	color: #2f353b;
	padding-top: 0px;
	margin-top: 0px;
}

div.checkout-button {
	margin-top: 30px;
	text-align: center;
}

div.delete-button {
	margin-left: -15px !important;
}

paper-button {
	width: 80%;
	margin-bottom: 20px;
}

paper-button[raisedButton].colored {
	background: #4285f4;
	color: #fff;
}

paper-button[raisedButton].colored.hover:hover {
	background: #3367d6;
}

paper-button[raisedButton].colored::shadow #ripple {
	color: #2a56c6;
}

paper-button[raisedButton].colored::shadow #focusBg {
	background: #3367d6;
}

.swipe-element {
	position: relative;
	width: 100%;
}

.swipe-front {
	position: relative;
	left: 0; top : 0;
	z-index: 2;
	/* // [START touch-action-example] */
	/* Pass all touches to javascript */
	-ms-touch-action: none;
	touch-action: none;
	top: 0;
	/* // [END touch-action-example] */
}

.swipe-back {
	position: absolute;
	left: 0; top : 0;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: row;
	-webkit-flex-direction: row;
	flex-direction: row;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	padding: 0 10px;
	box-sizing: border-box;
	top: 0;
}

.promote-layer {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}